{% extends "home/main.html" %}

{% block content %}
	{% if objs %}
		<ul>
			{% for obj in objs %}
				<li><a href="{% url 'crud_cats:view_cat' obj.id %}">{{ obj }}</a> 
					{% if obj.owner == user %}
					(<a href="{% url 'crud_cats:update_cat' obj.id %}">Update</a> | 
					<a href="{% url 'crud_cats:delete_cat' obj.id %}">Delete</a>)
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<p>go back <a href="{% url 'crud_cats:cats_list' %}">home</a></p>
	{% else %}
		<h1>There are no data</h1>
	{% endif %}
{% endblock content %}